<div class="card">
  <div class="card-head">
    <div class="car-body">
      <div class="text-center mb3">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg btn-blog mt-3 mb-3"
        >
          Nuevo Usuario
        </button>
      </div>

      <table class="table">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Nombre Usuario</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>15/11/2023</td>
            <td>Estrella Castillejos</td>
            <td>Castillejos@gmail.com</td>
            <td>xxx-xx-xx-xx</td>
            <td>Activo</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>2</td>
            <td>15/11/2023</td>
            <td>Nuria Tarradellas</td>
            <td>NTarradellas@gmail.com</td>
            <td>xxx-xx-xx-xx</td>
            <td>Activo</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>3</td>
            <td>01/11/2023</td>
            <td>Luisa Padilla</td>
            <td>LPadillas@gmail.com</td>
            <td>xxx-xx-xx-xx</td>
            <td>Activo</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex align-items-start flex-column mb-3">
        <div class="me-auto p-2">
          <button class="btn btn-outline-secondary" style="margin: 10px">
            Editar
          </button>
          <button class="btn btn-outline-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
