<div class="container mt-3">
  <div class="card">
    <div class="card-body">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexo" id="todos" value="Masculino">
            <label class="form-check-label mx-2" for="todos">Todos(5)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino">
            <label class="form-check-label mx-2" for="femenino">Femenino(3)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexo" id="Masculino" value="Masculino">
            <label class="form-check-label mx-2" for="Masculino">Masculino(2)</label>
          </div>
    </div>
  </div>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Masculino</td>
                    <td>$23</td>
                  </tr>                       
                </tbody>
              </table>
        </div>        
    </div>
</div>
