<div class="container mt-3">
  <app-count-empleados [todos]="obtenerTotalEmpleados()" [femenino]="obtenerFemenino()" [masculino]="obtenerMasculino()"
    (countradiobutton)="empleadoCountRadioButtomChage($event)">
  </app-count-empleados>

  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let empleados of listEmpleados">
            <tr *ngIf="radiobuttonSeleccionado == 'Todos' || radiobuttonSeleccionado== empleados.sexo">
              <td>{{empleados.legajo}}</td>
              <td>{{empleados.nombre}}</td>
              <td>{{empleados.apellido}}</td>
              <td>{{empleados.sexo}}</td>
              <td>{{empleados.salario | currency }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>